# Виртуальное окружение
venv/

# Python кеш
__pycache__/
*.py[cod]
*$py.class

# Файл с секретами
.env

# Логи (если будешь логировать)
*.log

# VS Code (если используешь)
.vscode/

# Случайный файл
main
